<!--Modulo Proyectos, usando clase Media de boostrap, -->
<div class="row">
    <div class="col-1"></div>
    <h1 class="col text-muted mb-5">Proyectos y trabajos realizados</h1>

</div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11 mb-5">
            <!--Poner aqui *ngFor -->
            <div class="card text-right" style="width: 30rem;">
                <img src="https://th.bing.com/th/id/OIP.2gC8hr22Ok0iXbNFIGJkzQHaD9?pid=ImgDet&rs=1" class="card-img-top img-fluid"alt="...">
                <div class="card-body">
                  <h3 class="card-title mb-1">Titulo del Proyecto</h3>
                  <p class="card-subtitle mb-3">2020</p>
                  <p class="card-text lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, adipisci accusantium facere, porro nulla repellendus mollitia dolores earum molestias quasi labore! Dicta quasi magnam voluptatem accusantium eius cumque hic repellendus.</p>
                  <a href="#" class="btn btn-dark ">Visitar</a>
                </div>
            </div>
             
        </div>
    </div>    
</div>
