<!--Fondo del Header-->
<div>
        <img class=" img-fluid" src="../../../assets/Picturs/Banner.png" alt="">
</div>
<div class="row">
<!--Foto de perfil-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img id="foto" class="img-fluid" src="../../../assets/Picturs/perfilFoto.jpg" alt="">
    </div>
<!--Datos de perfil... -->
    <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
        <h1 id="usuario">Usuario</h1>
        <h4 id="profesion">Profesion carrera</h4>
    </div>
</div>

<!--Acerca de... -->
<div class="row">
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <p id="descripcion">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolores consequatur nisi! Doloribus nemo corrupti molestiae recusandae debitis, a voluptatum expedita fuga fugiat eius aliquid obcaecati, suscipit officiis, assumenda optio. Iure illum architecto eos quaerat, nulla autem beatae esse, nostrum nam adipisci, perferendis animi illo soluta eius hic veritatis fugit magni repellendus!
        </p>
    </div>
</div>