<div class="container">

    <br><br>
    <!-- Datos de proyecto-->
    <form class="row g-3">
        <h2 class="display-6">Proyectos</h2> 
        <div class="row">
            <div class="col-md-5 mb-3 mt-3">
                <label for="Titulo" class="form-label">Titulo de proyecto</label>
                <input type="text" class="form-control" placeholder="ej: Pagina web con boostrap">
            </div>
            <div class="col-md-5 mb-3 mt-3">
                <label for="Titulo" class="form-label">Link a proyecto o repositorio</label>
                <input type="text" class="form-control" placeholder="www.mipagina.com">
            </div>
        </div>
        <!-- Año del proyecto -->
        <div class="row mb-3 mt-3">
            <div class="col-md-2">
                <label for="Seniority" class="form-label">Año de publicacion o desarrollo</label>
                <select class="form-select">
                    <option selected>Año</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                </select>
            </div>
        </div>


        <div class="col-md-10 form-check-label mb-3 mt-3 ">
            <label for="sobreMi">Descripcion del proyecto</label>
            <textarea class="form-control" placeholder="Tecnologias usadas, objetivo, aplicacion, etc"
                rows="5"></textarea>
        </div>


        <!-- Cargar imagen de proyecto-->
        <div>
            <h2 class="display-6 mt-5 mb-3">Imagen del proyecto</h2>
            

            <div class="row col-md-10">
                <figure class="figure col-md-2">
                    <img src="../../../../assets/Picturs/proyecto.jpg" class="img-thumbnail" alt="...">
                    <figcaption class="figure-caption">Proyecto</figcaption>
                </figure>
                <div class="col-md-3 mb-3">
                    <label for="adjuntar" class="form-label">Cargar una imagen de tu proyecto</label>
                    <input class="form-control form-control-sm" type="file">
                </div>
            </div>
        </div>

        <!-- Checkbox mostrar / ocultar proyecto-->
        <div class="col-12">
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Mostrar / Ocultar
                </label>
            </div>
        </div>


        <div class="col-12">
            <!-- Boton de guardado / redirige a educacionLog-->
            <button type="nav-link" [routerLink]="['']" class="btn btn-primary">Guardar cambios</button>
        </div>


        <hr>
        <br>

    </form>
</div>