<hr>
<section class="vh-100">
    <hr>
    <div class="container-fluid h-custom ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="cd../../../../../../assets/Picturs/Login.webp"
            class="img-fluid" alt="Imagen de login">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            
  
            <!-- Usuario -->
            <div class="form-outline mb-4">
              <input type="text" id="form" class="form-control form-control-lg"
                placeholder="Ingrese su usuario" />
              <label class="form-label" for="form3Example3">Usuario</label>
            </div>
  
            <!-- Password  -->
            <div class="form-outline mb-3">
              <input type="password" id="form" class="form-control form-control-lg"
                placeholder="Ingrese su contraseña" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form" />
                <label class="form-check-label" for="form">
                  Recordar usuario
                </label>
              </div>
              <a href="#!" class="text-body">Olvidé mi contraseña!</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-dark btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Ingresar</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Quieres una cuenta? <a href="#!"
                  class="link-warnin">Registrarme</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  
  </section>