<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="../../../../assets/Picturs/Argentinaprograma.png" alt="argentinaprograma" width="70" height="34" class="d-inline-block align-text-top"></a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['home']" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['educacion']" routerLinkActive="active" >Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['experiencia']" routerLinkActive="active" >Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['proyectos']" routerLinkActive="active" >Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['skills']" routerLinkActive="active" >Skills</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a href="http://"><img src="../../../assets/Picturs/email.png" id="email" alt="email"></a> 
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/horwell/"><img src="../../../assets/Picturs/linkedin.png" id="linkedin" alt="linkedin"></a>
        </li>
        <li class="nav-item ">
          <a href="https://github.com/horwellmv"><img src="../../../assets/Picturs/github.png" id="github" alt="github"></a>
        </li>

        <li class="nav-item">
          <!--Boton de Login-->
          <button [routerLink]="['login']" type="button" class="login btn btn-light ">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>